@import "../variaveis";

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include font($merriweather, 3.2dvh, $gold);
  backdrop-filter: blur(1dvh);

  .logo {
    img {
      margin-right: 18dvh;
      height: 18dvh;
      transform: scale(1.3);
    }
  }

  a {
    all: inherit;
    cursor: pointer;
    opacity: 0.9;
    color: $gold;
  }

  .nav-links {
    display: flex;
    list-style: none;
    gap: 4dvh;
    transition: all 0.4s ease-in-out;

    li {
      position: relative;
      transition: all 0.4s ease-in-out;

      a {
        padding: 2dvh;
        display: block;
        text-decoration: none;
        transition: color 0.4s ease-in-out;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1dvh;
        height: 0.3dvh;
        background-color: $gold;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }

  .cta-button {
    margin-left: -6.5dvh;
    padding: 1dvh;
    position: relative;
    transition: all 0.4s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.1dvh;
      height: 0.3dvh;
      background-color: $gold;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}
