$gold: #EBB71B;
$dark-gold: #765C0E;
$black-medium: #0A0A0A;
$black: #000000;
$dark-gray: #333333;
$soft-black: #1A1A1A;
$white: #F5F5F5;
$medium-gray: #7B7B7B;
$bordeaux: #800020;
$dark-brown: #400010;
$playfair-display: "Playfair Display", serif;
$merriweather: "Merriweather", serif;
$montserrat: "Montserrat", sans-serif;
$lato: "Lato", sans-serif;


@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
