@import "variaveis";
@mixin font($font) {
  font-family: $font;
}

.inicio {
  width: 100%;
  height: 100dvh;
  background-color: $soft-black;
  h1 {
    @include font($playfair-display);
    font-size: 10dvh;
    color: $white;
  }
}

.slideImg {
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  position: relative;
  box-sizing: border-box;
  opacity: 0.8;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
  }
}
.swiper-pagination {
  padding: 3dvh 1dvh;
  .swiper-pagination-bullet {
    background-color: $white;
    padding: .8dvh;
  }
}
