@import "../../styles/Global.scss";

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5dvh 0;
  width: 100%;
  backdrop-filter: blur(0.8dvh);
  box-shadow: $box-black 0 0.625dvh 1.875dvh;
  z-index: 100;
  gap: 30dvh;
  @include position(sticky);
  top: 0;

  .logo {
    img {
      height: 16dvh;
      transform: scale(1.6);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.65);
      }
    }

    cursor: pointer;
  }

  ul {
    display: flex;
    gap: 2dvh;
    padding: 0;

    li {
      list-style: none;
      @include font($playfair-display, 5dvh, $gold);
      cursor: pointer;
      position: relative;
      transition: color 0.3s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 0.125dvh;
        background: $gold;
        transition: width 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}